.navbar{
  background-color: #602260 !important;
  align-items: center;
  .navbar-brand{
    color: #ffffff;
    font-size: 1.5em;
  }
  .nav-link{
    color: #FFFFFF ;
    font-size: 1em;
  }
  .nav-link:hover{
    color: #CCCCCC;
  }
}
